body{
  background: linear-gradient(to bottom, #555555, #BBBBBB);
  height: 100vh;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #FFFFFF, #999999);
  padding: 1px;
  height: 61px;
  width: 100%;
  color: #0a0909;
  
}



textarea{
  padding: 1rem;
  border: 1px solid #ccc;
  /* border-radius: 10px px 0px 0px; */
  resize: none;
  width: 35%;
  height: 65%;
}

textarea[readonly]{
  background-color: #eee;
}

.logo{
  display: flex;
  margin-left: 12.5%;
}
